body {
  margin: 0;
  background: #EEE;
  user-select: none;
  font-family: sans-serif;
}


#slider2 {
  position: relative;
  width: 30%;
  height: 30vw;
  margin: 80px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type=radio] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}


input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
}




#slider2 label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#cslide1 {
  background: tomato;
}

#cslide2 {
  background: yellowgreen;
}

#cslide3 {
  background: dodgerblue;
}

#cslide4 {
  background: slateblue;
}

#cslide5 {
  background: violet;
}


/* Slider Functionality */

/* Active Slide */
#c1:checked ~ #cslide1, #c2:checked ~ #cslide2, #c3:checked ~ #cslide3, #c4:checked ~ #cslide4, #c5:checked ~ #cslide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#c1:checked ~ #cslide2, #c2:checked ~ #cslide3, #c3:checked ~ #cslide4, #c4:checked ~ #cslide5, #c5:checked ~ #cslide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(35%, 0, -100px);
}


/* Next to Next Slide */
#c1:checked ~ #cslide3, #c2:checked ~ #cslide4, #c3:checked ~ #cslide5, #c4:checked ~ #cslide1, #c5:checked ~ #cslide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(50%, 0, -250px);
}

/* Previous to Previous Slide */
#c1:checked ~ #cslide4, #c2:checked ~ #cslide5, #c3:checked ~ #cslide1, #c4:checked ~ #cslide2, #c5:checked ~ #cslide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-50%, 0, -250px);
}

/* Previous Slide */
#c1:checked ~ #cslide5, #c2:checked ~ #cslide1, #c3:checked ~ #cslide2, #c4:checked ~ #cslide3, #c5:checked ~ #cslide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-35%, 0, -100px);
}





/* YouTube Link */
.youtube-link {
  position: absolute;
  bottom: 50px;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  padding: 5px;
  font-weight: 700;
  color: coral;
  background: navy;
  text-align: center;
  border-radius: 0.2em;
}

.hoverstylep{
  display: none;
  margin: 10%;
  
}

.imgdes:hover .hoverstylep {
  position:absolute; 
  color:white;    
  font-size: 0.2em;
  display: inline;
  /* transition: visibility 0s, opacity 0.5s linear; */
  
}
.imgdes:hover {
  filter: brightness(80%);
}

